# 🔹 Fichiers Python compilés (bytecode)
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb  # (Debugging files, rarement utiles)

# 🔹 Fichiers et dossiers des environnements virtuels Python
venv/
.env/
*.env
pip-log.txt
pip-delete-this-directory.txt

# 🔹 Fichiers de configuration d’éditeurs de code
.vscode/
.idea/
*.swp  # (Fichiers temporaires de Vim)

# 🔹 Fichiers spécifiques à macOS et Windows
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# 🔹 Logs et fichiers temporaires
logs/
*.log
tmp/

# 🔹 Dossier contenant les images et résultats de calibration (inutiles sur la RPi 3)
calibration/
plateImages/
normalizedImages/